html, body {
  margin: 0;
  padding: 0;
  font-family: courier;
}

::-webkit-scrollbar {
  /*-webkit-appearance: none;*/
  display: none;
}
::-webkit-scrollbar-corner { 
  /*-webkit-appearance: none;*/
  display: none;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 50%;
  padding: 10px;
  background: #ddd;
  color: #222;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
  text-align: center;
}

.popup div {
  margin: 25px;
}

div.settings .holder {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings .holder label       { text-align:right; }
div.settings .holder label:after { content: ":"; }

.popup p {
  padding-bottom: 20px;
}
.popup .close {
  float: right;
  color: #222;
}
.popup div a {
  color: #222;
}
.popup div {
text-align: center;
}
.popup a:hover {
  cursor: pointer;
}

#background {
  z-index: 0;
  background: red;
  overflow: hidden;
}

#foreground {
  z-index: 5;
  background: black;
}

#foreground #canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20%;
  width: 100%;
}

#layer_holder {
  display: inline-block;
  position: absolute;
  background: rgb(32,32,32);
  overflow: scroll;
  scrollbar-width: none;
  right: 0;
  bottom: 20%;
  width: 100%;
  height: 20%;
  color: rgb(210,210,210);
  font-family: courier;
}

#layers {
  margin-top: 30px;
  display: inline-flex;
  overflow-x: scroll;
  white-space: nowrap;
}

#cursor_preview {
  display: none;
  position: absolute;
  background: black;
  z-index: 6;
  text-align:center;
  color: white;
  font-size: 10px;
  color: rgb(210,210,210);
  font-family: courier;
}

#header {
  position: fixed;
  width: 100%;
  background: rgb(55,55,55);
  text-align: center;
  font-size: 12px;
}

a {
  color: rgb(210,210,210);
}
a:visited {
  color: rgb(210,210,210);
}

#header div {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

#header a {
  padding: 4px;
  margin: 4px;
}

#header div:hover,
#layers div a:hover,
#layers div canvas:hover {
  cursor: pointer;
}

#header div:hover {
  background-color: #555;
}

#layers .preview {
  flex-direction: column;
  font-size: 12px;
  word-break: break-all;
  display: flex;
  padding: 4px;
  height: 30vw;
  width: 35vw;
}

#layers .preview_title {
  display: inline-block;
  padding: 5px;
  width: 90%;
}

#layers .preview_thumb {
  display: inline-block;
  background: black;
  width: 100%;
  height: 60%;
}

#layers .preview_title input {
  margin: 5px;
}

#layers div {
  border-top: solid rgba(210, 210, 210, 0) 4px;
}

#layers .selected {
  border-top: solid rgb(210, 210, 210) 4px;
}

#foreground #time {
  position: absolute;
  background: rgb(55,55,55);
  right: 0;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: none;
}

#foreground #time canvas {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
}

#foreground #canvas canvas {
  width: 100%;
  height: 100%;
}
